<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <!-- 自动扫描 -->
    <context:component-scan base-package="com.dzd"/>

    <!-- proxy-target-class="false" 为jdk代理 支持interface -->
    <aop:aspectj-autoproxy proxy-target-class="false"/>

    <!-- 扫描controller（controller层注入） -->
    <context:component-scan base-package="com.dzd.phonebook.controller"/>


    <!-- 避免IE在ajax请求时，返回json出现下载 -->
    <bean id="jacksonMessageConverter"
          class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <bean id="stringConverter"
          class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=UTF-8</value>
            </list>
        </property>
    </bean>


    <!-- 上传配置 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--100*1024*1024*1024即1G  指定所上传文件的总大小不能超过1G。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <property name="maxUploadSize" value="1073741824"/>
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 最大内存大小 (1G) -->
        <property name="maxInMemorySize">
            <value>1073741824</value>
        </property>
    </bean>


    <!-- 输出对象转JSON支持 -->
    <bean id="jsonConverter"
          class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>
    <bean
            class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="stringConverter"/>
                <ref bean="jsonConverter"/>
            </list>
        </property>
    </bean>

    <!-- 对模型视图添加前后缀 -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/view/" p:suffix=".jsp"/>


   <!-- &lt;!&ndash; 拦截器 &ndash;&gt;
    <mvc:interceptors>
        <mvc:interceptor>
            &lt;!&ndash; 进行拦截的请求路径 &ndash;&gt;
            <mvc:mapping path="/welcome.do"/>
            <mvc:mapping path="/*/*"/>
            <mvc:exclude-mapping path="/loginview.do"/>
            <mvc:exclude-mapping path="/smsUser/getVertifyCode.do"/>
            <mvc:exclude-mapping path="/smsUser/updatePwd.do"/>
            <mvc:exclude-mapping path="/smsUser/getVertifyCodeByFeedBack.do"/>
            <mvc:exclude-mapping path="/smsVertifyCode/getSmsVertifyCode.do"/>
           &lt;!&ndash; <mvc:exclude-mapping path="/customer/customerList.do"/>
            <mvc:exclude-mapping path="/sysUser/sysUserList.do"/>
            <mvc:exclude-mapping path="/followRecord/ghCustomerList.do"/>
            <mvc:exclude-mapping path="/followRecord/queryFollowRecordById.do"/>
            <mvc:exclude-mapping path="/customer/download.do"/>

            <mvc:exclude-mapping path="/customer/queryByCid.do"/>
            <mvc:exclude-mapping path="/customer/viewImmediately.do"/>
            <mvc:exclude-mapping path="/customer/release.do"/>
            <mvc:exclude-mapping path="/customer/addFollowRecord.do"/>
            <mvc:exclude-mapping path="/customer/exportData.do"/>&ndash;&gt;
            <mvc:exclude-mapping path="/customer/getData.do"/>
            <mvc:exclude-mapping path="/login.do"/>
            <mvc:exclude-mapping path="/test/*"/>
            &lt;!&ndash; 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的 &ndash;&gt;
            <bean class="com.dzd.base.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>-->

</beans>